 :root {
 --colorTitulo: hsl(98, 93%, 62%);
 --colorFondo:#27374D;
 --colorForm:#DDE6ED;
}

body {
    background-color:var(--colorFondo);
    grid-column: 50% 50%;
    font-family: Arial, sans-serif;
}
.resultado {
    font-size: 1.2em;
    margin-top: 20px;
    font-weight: bold;
    height: 20px;
    width: 30px;
    align-items: center;
}
body.dark-mode {
    background-color:black;
    color: white;
}

.headerMod.dark-mode, .footer.dark-mode {
    background-color:black;
}

.resultado.dark-mode, .espacioresultado.dark-mode {
    background-color: black;
    color: white;
}

.button-dark-mode {
    margin: 10px;
    padding: 10px;
    background-color:black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 60px;
    font-size: 16px;
    border-color: #39ff14;
    border-style: solid;
}

.button-dark-mode:hover {
    background-color: #555;
}
.bajo { color: #39ff14; background-color: black; }
.moderado { color: yellow; background-color: black; }
.alto { color: orange; background-color: black; }
.maximo { color: red; background-color: black; }

.logo { 
    margin-left:10%;
    height: 70px;
    position: absolute;
    top: 10px;
    right: 15px;
    padding-right: 10%;
}
    
.tux {
    position: absolute;
    top: 8px;
    align-self: right;
    width: 70px;
    height: 70px;
    padding-left: 10%; 
}
    
 
 
 
     

.titulo {
    text-align: center;
    margin: 20px 0;
    color:var(--colorTitulo);
    font-size: 24px;
    height: 60px;
    gap:50px;
    
}
form {
    color:var(--colorForm);
    align-content: center;
    margin-left: 20%;
    font-size: medium;
}
.footer{
  align-items: center;
    background-color:var(--colorFondo); 
   color: var(--colorTitulo);
   text-align: right; 
   padding: 10px;
   font-style: italic;
   font-weight: 300;
}

.header{
    display:flex;
    flex-direction: row-reverse;
    width: 90%;
    height: 50%;    
}

.boton{
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;    
    font-size: 16px;
    border-radius: 60px;
}
.botonLimpiar{
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-left:40%;
    border-radius: 60px;


}


.interespacio{

height: 20px;
}


.espacioresultado {
width: 600px;
border-radius: 25px;
text-align: center;
padding-left: 200px;}


.ecicep{
    color:#F5004F

}
.link{
margin-left: 70%;
 width: 40px;   
 height: 40px;
}

.labelresultado{

    text-decoration:underline;
    color: red;
    margin-left:22%;

}
.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-left:15%;
    border-radius: 60px;
    

}
.button1-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border-radius: 60px;

    }

.button-link:hover {
    background-color: #0056b3;
}
.button1-link:hover {
    background-color: #0056b3;
}
